.projects-new.block-container
  .new-project.card
    .input.row
      margin-top: 2em

      p.hint
        margin-bottom: 1em
        font-size: smaller
        i.material-icons
          vertical-align: sub
          font-size: initial

      label.for-checkbox
        i.material-icons
          vertical-align: top

.projects-show.block-container
  .project.card
    .distribution-sections
      .distribution-section
        &:first-child
          p.card-title
            margin-top: 0
          padding-top: 20px
        padding-top: 4em
        .row.info-entry, .row.actions
          margin-bottom: 0
