.projects-new.block-container
  .new-project.card
    .input.row
      margin-top: 2em

      p.hint
        margin-bottom: 1em
        font-size: smaller
        i.material-icons
          vertical-align: sub
          font-size: initial

      label.for-checkbox
        i.material-icons
          vertical-align: top

.projects-show.block-container
  .project.card
    .distribution-section
      padding-top: 0
      .row.info-entry, .row.actions
        margin-bottom: 0
